.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}

.movie-card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.movie-poster {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.movie-content {
  padding: 15px;
}

.movie-title {
  margin: 0;
  font-size: 1.3rem;
}

.movie-description {
  font-size: 0.95rem;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.85);
  height: 60px;
  overflow: hidden;
}

.movie-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-bottom: 10px;
  opacity: 0.9;
}

.movie-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie-buttons button {
  flex: 1;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 6px;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.movie-buttons button:hover {
  background: rgba(255, 255, 255, 0.3);
  color: black;
}
.category-block {
    margin-bottom: 40px;
  }
  
  .category-title {
    font-size: 1.8rem;
    color: #fdfcfc;
    margin: 20px 0 10px 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);    padding: 20px;

  }
  
  .movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  